.slideshow {
  position: relative;
  width: 100%;
  max-height: 630px; /* Adjust as needed */
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.slideshow button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  transform: translateY(-50%);
}

.slideshow .prev {
  left: 10px;
}

.slideshow .next {
  right: 10px;
}
